.MessageContainer {
	font-size: 18px;
	color: black;
	position: fixed;
	top: 12px;
	left: 50%;
	transform: translate(-50%, 0);
	background: white;
	padding: 12px 54px;
	border-radius: 8px;
	transition: top ease-in 0.3s;
	max-width: 70vw;
}

.MessageContainerShow {
	top: 12px;
}

.MessageContainerHide {
	top: -75px;
}

.MessageContainerSuccess {
	border: 2px solid var(--success-color);
	background-color: var(--success-color-light);
	/* color: var(--success-color); */
}

.MessageContainerError {
	border: 2px solid var(--danger-color);
	background-color: var(--danger-color-light);
	font-weight: 500;
	/* color: var(--danger-color); */
}

.IconContainer {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translate(0, -50%);
}