.HeaderContainer {
	height: var(--header-height);
	/* background: var(--primary-color); */
	/* border-bottom: 1px solid var(--primary-color); */
	/* color: #FFFFFF; */
	display: flex;
}

.ConnexionContainer {
	margin-left: auto;
	background-image: url(../../assets/logos/logo_quizz_color.png);
}

.LogoContainer {
	position: absolute;
	z-index: 99;
	top: -20px;
	left: 50%;
	width: 750px;
	/* transform: translate(-50%, -50%) rotate(0deg); */
	transform: skewX(-20deg);
	transition: all 2s ease-in, transform ease-in-out 2.5s;
	display: flex;
	justify-content: center;
}

.LogoContainerAnimate {
	top: 30%;
	transform: translate(-50%, -50%) rotate(0deg);
	transition: all 2s ease-out 0.5;
}

.buttonLoginContainer {
	position: absolute;
	z-index: 99;
	bottom: 25%;
	right: 68%;
	/* transform: translateX(85%); */
}

.buttonSignupContainer {
	position: absolute;
	z-index: 99;
	bottom: 25%;
	left: 68%;
	/* transform: translateX(-85%); */
}

.buttonRulesContainer {
	position: absolute;
	z-index: 99;
	bottom: 35%;
	left: 50%;
    transform: translateX(-50%);
}

.ScrollDownContainer {
	display: flex;
	justify-content: center;
}

.SplashLogo img {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.SplashLogo {
	z-index: 100;
	position: absolute;
	left: -85px;
	top: -245px;
	/* transform: translate(-50%, -50%); */
}

.displayNone {
	display: none;
}

.LinkContainer {
	opacity: 0;
	transition: all 2.5s ease-in-out;
}

.LinkContainerShow {
	opacity: 1;
}